{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if pics%}
      <h2>Found {{ pics|length }} items of searched location</h2>
    {% else %}
      <h2> Found 0 images for the searched location</h2>
    {% endif %}

  </div>

  <div class="row">

    {% if pics %}
      {% for pic in pics %}
        <div class="col-sm-6 col-md-3">
          <a href="{% url 'image' pic.id %}"><img src="{{pic.image.url}}" class="img-responsive" alt="Image"></a>
          <h1>{{pic.name}}</h1>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
  {% endblock %}