{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    {% for photo in photos %}

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <img src="{{photo.image.url}}" class="img-responsive" alt="Image">
                <div class="panel-body">
                    <p> {{ photo.name }}  </p>
                    <p>{{photo.description}}</p>
                    <p>{{photo.date|date:"l d F Y, H:i"}}</p>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <div class="row">
      <h2 class="text-center">There No images yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}