{%extends 'base.html'%}
{% load static%}

{% block content %}
{{block.super}}

<div class="container-fluid">
    
    {% for photo in photos %}
    
    <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
            <a href="{% url 'image' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image"  ></a>
            <div class="panel-body">
                <p class="text-center"><em>{{photo.name}}</em></p>
            </div>
            
        </div>
        
    </div>
    
    
    {% empty %}
    <div class="row">
      <h2 class="text-center">There are No images yet</h2>
    </div>
    {% endfor %}

    
</div>
{% endblock %}
